// _library.scss
$pageYOffset: 0px;
$innerHeight: 0px;

html,
body {
  height: auto;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background: #1b2b40;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #d1dee8;
}

/* Track */
::-webkit-scrollbar {
  width: 5button-containerpx;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.425); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.wrapper {
  height: 100vh;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}

@media (min-width:767.98px) {
  .wrapper {
    overflow-x: hidden;
  }
}

@media (max-width:767.98px) {
  .PCOnly {
    display: none;
  }
}




h1,
h2,
h3,
h4 {
  font-weight: bold;
}

@media (max-width:767.98px) {

  h1,
  h2,
  h3,
  h4 {
    font-size: 1rem;
  }
}



section {
  height: auto;
  /* Set minimum height to 100 viewport height */
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  /* Use flexbox */
  flex-direction: column;
  /* Set flex-direction to column */
  justify-content: center;
  align-items: center;
  scroll-snap-align: start !important;
}

@media (min-width:767.98px) {
  .wrapper {
    scroll-snap-type: y mandatory;
  }
}

section>.container {
  height: 100%;
  min-height: fit-content;
  max-width: 90vw;
  box-sizing: border-box;
}

@media (min-width:767.98px) {
  section>.container {
    max-width: 100vw;
  }
}

.title {
  font-weight: bolder;
  font-size: clamp(2.5rem, 10vw, 3rem);
}

@media (min-width:767.98px) {
  .title {
    font-size: clamp(3rem, 4.5vw, 3.5rem);
  }
}

.heading {
  font-size: clamp(1rem, 5vw, 3rem);
}

@media (min-width:767.98px) {
  .heading {
    font-size: clamp(2rem, 1.5vw, 3.5rem);
  }
}

.subheading {
  font-size: clamp(1.2rem, 3vw, 1.8rem);
}

@media (min-width:767.98px) {
  .subheading {
    font-size: clamp(1.5rem, 1vw, 2.2rem);
  }
}

.bold {
  font-weight: bold;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.grad-text {
  display: inline-block;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #79c1f5, #b7d5eb, #FC94AF);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.full-line-text{
    display: flex;
    justify-content: space-between; 
    flex-direction: row;
}

.hidden {
  display: none !important;
}

.block {
  display: block;
}

button {
  border-radius: 10%;
  padding: 1em, 0.5em;
}

.previewImg {
  cursor: pointer;
}

.responsive {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.responsiveWidth {
  max-width: 100%;
  height: auto; /* Maintains the aspect ratio */
}

.responsiveHeight {
  width: auto;
  max-height: 100%;
}


@media(min-width:768px) {
  img {
    &.vh25 {
      height: 25vh !important;
    }

    &.vh30 {
      height: 30vh !important;
    }

    &.vh40 {
      height: 40vh !important;
    }

  }
}

/*hyperlink */
.link {
  color: rgb(0, 170, 255);
  cursor: pointer;
}

.description {
  display: none;
  position: absolute;
  border: 1px solid #000;
  width: 400px;
  height: 400px;
}

.pageTrigger {
  color: rgb(0, 170, 255);
  cursor: pointer;
}



p {
  letter-spacing: 0px;
  line-height: 1.5rem;
}

.list-subheader {
  margin-top: 6px;
  margin-bottom: 0;
  font-size: small;
  font-weight: bold;
  color: #d1dee8b7;
  font-style: italic;
}

#about,
#experience,
#contact {
  padding-top: 100px;
  padding-bottom: 100px;
}

#about .fa {
  font-size: 28px;
  min-width: 34px;
}

/* Canvas */
#physics {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 99;
}


/* navigation */
.custom-navbar {
  margin-bottom: 0;
  height: fit-content;
  padding-top: 0%;
  border-image:
    linear-gradient(to bottom,
      rgb(255, 255, 255),
      rgba(0, 0, 0, 0))10;
  border-style: solid;
  border-width: 0.3rem;

  .container-fluid {
    margin-bottom: 0;

    .navbar-brand {
      font-size: 1.2rem;
      padding: 0;
      margin: 0;
      font-weight: bold;

      .firstname {
        color: #a8dbff;
      }

      .lastname {
        color: #ffaec4;
      }

      .message {
        display: none;
        color: #d1dee8;
      }
    }

    .navbar-toggler {
      margin-top: 0.5rem;

    }

    .nav-item a {
      color: #fff;
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 4px;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-right: 20px;
      padding-left: 20px;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: #d1dee8;
        color: #1b2b40;
        transition: all 0.3s ease-in-out;
      }

      &:focus {
        background-color: transparent;
        outline: none;
      }
    }
  }
}

@media(min-width:768px) {
  .custom-navbar {
    border-bottom: 0;

    .top-nav-collapse {
      padding: 14px;
      border-bottom: 1px solid #eeeeee;
    }

    .navbar-brand {
      position: absolute;
      left: 1%;
    }
  }
}


/* home section */
#home .title {
  line-height: 80%;
  font-weight: bolder;
  font-size: clamp(1rem, 15vw, 6rem);
}

@media (min-width:767.98px) {
  #home .title {
    font-weight: bolder;
    font-size: clamp(5rem, 10vw, 7.5rem);
  }
}

#home .subheading {
  font-size: clamp(.6rem, 7vw, 3rem);
  font-weight: bold;
}

@media (min-width:767.98px) {
  #home .subheading {
    font-size: clamp(2rem, 3.5vw, 5rem);
    word-spacing: 1rem;
  }
}

#home button.start {
  font-weight: bold;
  font-size: clamp(1.5rem, 3vw, 3rem);
  padding: .2% clamp(7rem, 8vw, 18rem);
  border-radius: 5% 5%;
  transition: all 0.4s ease-in-out;
}



/* about section */
#about .col-md-6 {
  padding-top: 60px;
}

#about .col-md-6 h3 {
  padding-top: 40px;
  padding-bottom: 10px;
}




/* skill section */
#skill {
  .default {
    width: 90%;
    min-height: 90vh;
    height: fit-content;

    .row {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
      max-height: fit-content;
      margin: auto;
    }

    @media (min-width:767.98px) {
      .row {
        margin-top: 12%;
      }
    }
  }
}


/* Default Page */
.hexagon-container {
  max-width: 40rem;
  height: min-content;
  padding: 0;
  display: flex;
  --s: clamp(10rem, 13vw, 13rem);
  /* size  */
  --m: 4px;
  /* margin */
  --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px);
  font-size: 0;

  button.hexagon {
    //hexegon effect
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s) * 1.1547);
    display: inline-block;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin-bottom: calc(var(--m) - var(--s) * 0.2885);

    //style
    background: radial-gradient(ellipse at bottom, #ffffff, 70%, #ffffff4b);
    color: #1b2b40;
    position: relative;
    box-shadow: -2rem 1rem 0 1rem rgb(255, 255, 255, 0.5);

    img {
      max-width: 52%;
      max-height: 32%;
      order: -1;
    }

    h3 {
      font-size: 1.5rem;
    }
  }
}

.hexagon-container::before {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
}



/* Detailed Page */
#skill>.detail {
  display: none;
  gap: .5rem;
  grid-template-areas:
    'one'
    'two'
    'three'
    'four'
    'five'
    'six'
    'button';
  justify-items: stretch;
}

@media (min-width:767.98px) {
  #skill>.detail {
    width: 90%;
    height: 90vh;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
      "one one one two two two two"
      "one one one two two two two"
      "one one one button three three three"
      "four four four four three three three"
      "four four four four three three three";

  }

}

#skill>.detail>.one {
  grid-area: one;
}

#skill>.detail>.two {
  grid-area: two;
}

#skill>.detail>.three {
  grid-area: three;
}

#skill>.detail>.four {
  grid-area: four;
}

#skill>.detail>.five {
  grid-area: five;
}

#skill>.detail>.six {
  grid-area: six;
}

@media (min-width:767.98px) {}

#skill .detail .return-default {
  justify-content: center;
  grid-area: button;
  background: hsla(0, 0%, 0%, 0.25);
  border: none;

  button {
    color: #b7d5eb;
    background-color: transparent;
    border: none;
    height: 90%;
    width: 90%;
  }
}


#skill>.detail {
  .card{
    transition: all 200ms ease;
      background: hsla(0, 0%, 0%, 0.25);
      border: transparent;
      color: #d1dee8;
      padding: 2rem .5rem;

    .box {
      display: inline-flex;
      position: relative;
      flex-direction: row;
      flex-wrap: wrap;
      gap: .5rem; /* Add some spacing between items */
      overflow-y: auto; /* Enable vertical scrolling for the content area */
  
      .cardTitle {
        padding-left: 5%;

        h1 {
          font-size: clamp(1.8rem, 2.4vw, 2.8rem);
          letter-spacing: .2rem;
          text-transform: uppercase;
          font-weight: bolder;
          text-align: left;
        }

        h4 {
          text-align: left;
        }

        h6 {
          color: #d1dee87c;
          font-weight: bold;
        }
      }

      img {
        width: 125px;
        padding: 10px;
      }

      .topic {
        order: -1 !important;
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: baseline;
      }
  
      .content {
        padding-left: 1rem;
        height: fit-content;

        h4 {
          font-size: 1.5rem;
        }

        h5 {
          color: #d1dee8bd;
          font-size: clamp(.8rem, .8vw, 1.6rem);
          text-transform: uppercase;
          font-weight: normal;
          margin-bottom: .1rem;
          text-align: left;
        }

        ul {
          &.oneC {
            columns: 1;
          }

          &.twoC {
            columns: 2;
          }


          li {
            width: 90%;
            break-inside: avoid;

            h6 {
              margin-bottom: 0;
              font-weight: bold;
            }

            p {
              text-transform: none;
            }
          }
        }

        .progress {
          height: .5rem;

          .progress-bar {
            background-color: #0095ff;
          }
        }

        a {
          &.expTrigger {
            text-decoration: underline;
            margin-top: 0.4rem;
            background-color: hsla(0, 0%, 0%, 0.25);
            color: #d1dee8;

            &:hover {
              background-color: #d1dee8;
              color: rgba(0, 0, 0);
            }
          }
        }
      }  

      // &.horizantal-display {
      //   flex-direction: column;
      //   .topic {
      //     display: inline-block;
      //     width: 20%;
      //     padding-left: 0%;
    
      //     img {
      //       width: 60%;
      //     }
    
      //     .cardTitle {
      //       margin-top: 1rem;
      //     }
    
      //   }
    
      //   .content {
      //     width: 80%;
      //     padding-left: 3%;
      //     display: inline-block;
      //   }
      // }
    }

  }
}




/* experience section */
#experience {
  text-align: center;
}

#experience .container-fluid {
  position: relative;
  width: 90%;
  height: 80vh;
}

#experience {
  .button-container {
    display: flex;
    margin-top: 1.2em;
    justify-content: space-around;
    transform: translate(0, 1em);

    button {
      height: 30px;
      padding: 5px, 25px;
      background-color: transparent;
      border: none;

      &:hover {
        font-weight: 800;
        font-size: larger;
      }

    }
    .controls {
      width: 4em;
      display: flex;
      flex-direction: row;
      justify-content: center;
  
      button {
        background-color: transparent;
        border: none;
        color: #d1dee8;
        font-weight: 1000;
        font-size: larger;
  
        svg{
          width: 1em;
          height: 1em;
        }
      }
  
  
      button:disabled {
        color: grey;
        cursor: not-allowed;
      }
    }
  }

 

  .detail {
    padding-top: 1em;
    width: 90vw;
    max-height: 65vh;
    flex-direction: column;
    float: left;

    .card {
      text-align: left;
      margin-bottom: 2vh;
      display: none;
      flex: 1 1 auto;
      width: 100%;
      background-color: transparent;
      position: relative;
      max-height: 25%;
      padding: 8px;
      overflow-y: hidden;
      overflow-x: hidden;
      /* important for absolute positioning */
      bottom: 0;
      transition: bottom 1s;
      border-width: 0.3rem;
      border-style: inset;
      color: #d1dee8 !important;

      h3 {
        color: #d1dee8;
        text-transform: capitalize;
      }
    }
  }
}



@media(min-width:768px) {
  #experience {
    .button-container{
      width: 500px;
    }
    .detail {
      width: 80vw;
      height: 80vh;
      flex-direction: column;

    }
  }
}


/* contact section */
#contact .fa {
  font-size: 40px;
}

#contact .topic {
  text-align: center;
}

@media (min-width:767.98px) {
  #contact .topic {
    text-align: left;
    padding-left: 5%;

    h1 {
      width: fit-content;
    }
  }
}

#contact form .col {
  height: 100%;
  width: 90%;
}

#contact .form-control {
  width: 85%;
  border-radius: 0;
  box-shadow: none;
  margin-top: .8rem;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:focus {
  border-width: 3px;
  border-style: solid;
  border-image:
    linear-gradient(to right,
      #ffffff,
      #1b2b40) 1 100%;
}

#contact input {
  height: 3rem;
  margin: auto;
}

#contact textarea {
  height: 170px;
  margin: auto;
}

.contact-info-box h3 {
  font-size: 16px;
}



#contact input[type="submit"] {
  font-weight: bold;
  font-size: clamp(1.5rem, 2vw, 3rem);
  margin-top: 7rem;
  height: 5rem;
}

@media (min-width:767.98px) {
  #contact form {
    margin-right: 5vw;

    .topic {
      margin-bottom: clamp(1rem, 2vw, 4rem);
      text-align: left;

      .title {
        background-size: 50%;
      }

      .subheading {
        margin-left: clamp(2rem, 6vw, 8rem);
        text-align: left;
      }
    }

    .col-md-6 {
      flex: 0 0 auto;
      width: 50%;
    }
  }

}

/* page */
.page {
  background: #162232;
  height: 94vh;
  width: 94vw;
  padding: 4%;
  position: absolute;
  margin: 4%;
  top: calc($pageYOffset + $innerHeight*0.05);
  transition: all 0.5s ease;
  overflow-y:auto;

  .media {
    align-items: flex-start;
    max-width: 80%;
    max-height: 80%;
  }

  .header{
    padding-top: 3em;
    display: flex;
    justify-content: space-between; 
    flex-direction: row;
  }

  .section-header{
    font-size: 1rem;
    font-weight: bold;
    color: #d1dee8c1;
  }

  @media(min-width:768px) {
    .media {
      margin-left: 5%;
      float: right;
    }
  }

  .content {
    display: flex;
    padding-top: 2%;
    flex-wrap: wrap;

    p {
      padding-left: 1rem;
    }
  }

  .image-row{
    height: 120px;
    width: 100%;
    overflow-x: auto;
    display: inline-flex;
    flex-direction: row;
  }

  .closeButton {
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    right: 15px;
    top:15px;
    cursor: pointer;
  }

}

.fullImgView {
  background: #162232;
  padding: 4%;
  position: absolute;
  margin: 4%;
  height: 94vh;
  width: 94vw;
  top: calc($pageYOffset + $innerHeight*0.05);
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: auto;
    height: auto;
    max-width: 80vw;
    max-height: 80vh;
  }

  .closeButton {
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    right: 2%;
    top: 2%;
    cursor: pointer;
  }
}

/* copyright section */
#copyright {
  background: #404040;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}

#copyright p {
  padding-top: 20px;
}

#copyright a {
  color: #fff;
}

#copyright a:hover {
  color: #FFD321;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

#copyright .fa {
  background: #383838;
  color: #ffffff;
  font-size: 18px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  outline: none;
  transition: all 0.4s ease-in-out;
}

#copyright .fa:hover {
  background: #FFD321;
  color: #000;
}

@media screen and (min-width: 992px) {
  @-moz-document url-prefix() {

    #skill .col-lg-4,
    #skill .col-md-4 {
      width: 33.333%;
    }
  }
}

@media (max-width: 980px) {
  .custom-navbar .navbar-brand {
    font-size: 24px;
  }

  #contact form {
    padding-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .contact-info-box {
    margin-bottom: 20px;
  }

  .contact-info-box:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 450px) {
  #about .col-md-4 .fa {
    margin-top: 32px;
  }

  #contact h3 {
    font-size: 16px;
    padding-bottom: 40px;
  }
}

/* ISOTOPE BOX CSS */
.iso-box-section {
  width: 100%;
}

.iso-box-wrapper {
  width: 100%;
  padding: 0;
  clear: both;
  position: relative;
}

.iso-box {
  position: relative;
  min-height: 50px;
  float: left;
  overflow: hidden;
  margin-bottom: 20px;
}

.iso-box>a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.iso-box>a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fluid-img {
  width: 100%;
  display: block;
}

/* FILTER CSS */
.filter-wrapper {
  width: 100%;
  margin: 40px 0 24px 0;
  overflow: hidden;
  text-align: center;
}

.filter-wrapper li {
  display: inline-block;
  margin: 4px;
}

.filter-wrapper li a {
  color: #999999;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 8px 17px;
  display: block;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.filter-wrapper li .selected,
.filter-wrapper li a:focus,
.filter-wrapper li a:hover {
  background: #FFD321;
  color: #ffffff;
  outline: none;
}